 ### Libraries

In [3]:
import pandas as pd
import random

#### Sample dataframe

In [35]:
def skewness (df,cols,n=10):
    for c in df.columns[cols]:
        print('\nCOLUMN: "{}"\n=============================='.format(c))
        info_string = df[c].value_counts(dropna=False).nlargest(n).to_string()
        print(info_string)
        continue
    return

def sampler (df,samples):    
    for i in samples:
        print('\nFrac samples: {}=============================='.format(i))
        %time print(df.sample(frac=i).agg(['mean','std']))
    return

def sampled_df (df,samples):    
    return df.sample(samples)

def read2CSV (filepath,filename):
    natDF = pd.read_csv(filepath)
    random.seed(1)
    sampledDF = sampled_df(natDF,200000)
    newFilePath = '../data/raw/' + filename + '.csv'
    sampledDF.to_csv(newFilePath)
    return

### Testing for skewness in columns wanted
 Only show top 10 as some columns might have many different values

In [50]:
skewness(totSampDF,range(0,40))

COLUMN: "birth_year"
==============================
2017.0    200000
2016.0    200000
2015.0    200000
2014.0    200000
2013.0    199999
NaN            1

COLUMN: "birth_month"
==============================
8.0     89792
7.0     88092
9.0     87034
10.0    85139
12.0    83705
5.0     83410
6.0     82887
3.0     82785
1.0     81403
11.0    80878

COLUMN: "birth_time"
==============================
        29573
800       865
804       831
805       824
755       800
803       797
758       790
807       779
802       768
806       764

COLUMN: "birth_day_of_wk"
==============================
3.0    163810
4.0    160610
5.0    159971
6.0    157694
2.0    151371
7.0    110063
1.0     96480
NaN         1

COLUMN: "birth_place"
==============================
1      561077
1.0    393518
        29573
3        4224
3.0      2968
2        2896
2.0      2133
5         706
4         586
4.0       524

COLUMN: "mothers_age_imputed"
==============================
       999887
1         112
NaN         1

COLUMN: "mothers_age"
==============================
29.0    61775
30.0    61433
28.0    60115
31.0    60038
27.0    58169
32.0    56174
26.0    55436
25.0    53246
33.0    51552
24.0    50286

COLUMN: "mothers_nativity"
==============================
1.0    615537
       199999
2.0    182805
3.0      1658
NaN         1

COLUMN: "mothers_residence_status"
==============================
1.0    569056
2.0    210704
       199999
3.0     18191
4.0      2049
NaN         1

COLUMN: "mothers_race"
==============================
1.0    447076
       189202
1      155628
2.0     98009
4.0     43159
2       31950
4       12158
3.0      6404
01       2475
3        2207

COLUMN: "mothers_race_imputed"
==============================
       940008
1       59158
2         833
NaN         1

COLUMN: "mothers_hispanic_origin"
==============================
0.0    455203
       400000
1.0     82460
5.0     21985
4.0     21435
2.0     10719
9.0      4896
3.0      3301
NaN         1

COLUMN: "mothers_hispanic_origin2"
==============================
1.0    234719
1      206197
7.0    123473
6.0    116220
7       90185
2.0     61260
2       54865
4.0     32301
4       23627
8.0     18176

COLUMN: "paternity_acknow"
==============================
X      566617
Y      267902
N      109916
        54044
U        1520
NaN         1

COLUMN: "mothers_marital_status"
==============================
1.0    479400
2.0    320599
1      104865
2       70335
        24471
1.0       209
2.0       120
NaN         1

COLUMN: "mothers_maristat_imputed"
==============================
       999478
1         521
NaN         1

COLUMN: "mothers_education"
==============================
3      141384
4      120207
6      108514
3.0     99881
4.0     81638
6.0     80357
2       64115
7       48915
5       45470
2.0     40037

COLUMN: "fathers_age"
==============================
        199941
99       48075
99.0     47376
31.0     22013
32.0     21355
30.0     20896
33.0     20776
32       20768
31       20684
30       20467

COLUMN: "fathers_race"
==============================
1.0     248949
1       229301
        200000
99       71787
2.0      48655
2        43166
99.0     36304
9.0      35939
         23991
4.0      22899

COLUMN: "fathers_hispanic_origin"
==============================
       400000
0.0    397882
9.0     80055
1.0     73236
5.0     19463
4.0     17103
2.0      9187
3.0      3073
NaN         1

COLUMN: "fathers_hispanic_origin2"
==============================
NaN    400001
1      182601
6.0     94988
7       78876
8       53084
2       43319
9.0     27897
1.0     24691
7.0     23187
4       20328

COLUMN: "fathers_education"
==============================
3      140544
3.0    100928
4       95052
6       91565
9       84626
6.0     67409
4.0     65565
9.0     55968
2       50317
7       36034

COLUMN: "prior_living_births"
==============================
1.0     335369
0.0     308177
2.0     199501
3.0      91025
4.0      35796
5.0      14650
6.0       6250
7.0       2950
99.0      2143
8.0       2077

COLUMN: "prior_dead_births"
==============================
0.0     787334
1.0      72377
2.0      57529
3.0      36425
4.0      20030
5.0      10321
6.0       5016
99.0      3179
8.0       3097
7.0       2580

COLUMN: "prior_terminations"
==============================
0.0     734410
1.0     169718
2.0      56639
3.0      19392
99.0      7093
4.0       7076
5.0       2813
6.0       1341
7.0        598
8.0        365

COLUMN: "mo_prenatal_care_began"
==============================
2      207501
3      169136
2.0    155924
3.0    119396
4       54023
1       37761
4.0     35405
        29573
5       26943
1.0     25207

COLUMN: "n_prenatal_visits"
==============================
12.0    94131
10.0    81392
12      61229
11.0    56307
13.0    56238
10      53532
14.0    48071
9.0     39074
15.0    38939
11      36717

COLUMN: "wic"
==============================
NaN    400001
N      338685
Y      233128
        18980
U        9206

COLUMN: "cigs_tri1"
==============================
0       507631
0.0     370910
         29573
99       14478
10       14092
20        8654
10.0      8539
5         5955
20.0      5485
00        3792

COLUMN: "cigs_tri2"
==============================
0       513863
0.0     374856
         29573
99       14565
10       12780
10.0      7721
5         6162
20        5145
5.0       3875
00        3848

COLUMN: "cigs_tri3"
==============================
0       515766
0.0     376058
         29573
99       14555
10       11192
10.0      6639
5         6187
20        4347
5.0       3892
00        3849

COLUMN: "pre_preg_diab"
==============================
N      961026
        29573
Y        8055
U        1345
NaN         1

COLUMN: "gest_diab"
==============================
N      913341
Y       55740
        29573
U        1345
NaN         1

COLUMN: "pre_preg_hypten"
==============================
N      952907
        29573
Y       16174
U        1345
NaN         1

COLUMN: "gest_hypten"
==============================
N      914482
Y       54599
        29573
U        1345
NaN         1

COLUMN: "hypten_ecl"
==============================
N      966548
        29573
Y        2533
U        1345
NaN         1

COLUMN: "prev_preterm_birth"
==============================
N      940477
        29573
Y       28604
U        1345
NaN         1

COLUMN: "infertility_treatment"
==============================
N      953083
        29573
Y       15998
U        1345
NaN         1

COLUMN: "fertil_enhance"
==============================
X      953083
        29573
N        7359
Y        7160
U        2824
NaN         1

COLUMN: "asst_repro_tech"
==============================
X      953083
        29573
Y        8689
N        5830
U        2824
NaN         1

In [46]:
skewness(totSampDF,range(40,80),10)

COLUMN: "n_prev_cesar"
==============================
0      480594
0.0    338071
1       58533
1.0     42324
        29573
2       19437
2.0     14239
3        4817
3.0      3866
00       3606

COLUMN: "gonorrhea"
==============================
N      964808
        29573
U        2978
Y        2640
NaN         1

COLUMN: "syphilis"
==============================
N      966676
        29573
U        2978
Y         772
NaN         1

COLUMN: "chlamydia"
==============================
N      949880
        29573
Y       17568
U        2978
NaN         1

COLUMN: "hepB"
==============================
N      965198
        29573
U        2978
Y        2250
NaN         1

COLUMN: "hepC"
==============================
N      963679
        29573
Y        3769
U        2978
NaN         1

COLUMN: "success_ext_cep"
==============================
N      967257
        29573
U        1706
Y        1463
NaN         1

COLUMN: "fail_ext_cep"
==============================
N      967588
        29573
U        1706
Y        1132
NaN         1

COLUMN: "induced_labor"
==============================
N      735765
Y      233889
        29573
U         772
NaN         1

COLUMN: "aug_labor"
==============================
N      769340
Y      200314
        29573
U         772
NaN         1

COLUMN: "steriods"
==============================
N      949775
        29573
Y       19879
U         772
NaN         1

COLUMN: "antibiotics"
==============================
N      740040
Y      229614
        29573
U         772
NaN         1

COLUMN: "chorioamnionitis"
==============================
N      955450
        29573
Y       14204
U         772
NaN         1

COLUMN: "anesthesia"
==============================
Y      705367
N      264287
        29573
U         772
NaN         1

COLUMN: "fetal_present_at_birth"
==============================
1      525071
1.0    377643
        29573
2       21457
2.0     15869
9       13027
3       10457
3.0      4505
9.0      1983
1.0       390

COLUMN: "final_delivery_method"
==============================
1      367593
1.0    259788
4      183449
4.0    127421
        29573
3       15291
3.0     10406
2        3283
2.0      2134
9         396

COLUMN: "trial_of_labor_attempt"
==============================
X      658785
N      227656
Y       79399
        29573
U        4586
NaN         1

COLUMN: "maternal_transfusion"
==============================
N      965328
        29573
Y        3191
U        1907
NaN         1

COLUMN: "perineal_laceration"
==============================
N      960577
        29573
Y        7942
U        1907
NaN         1

COLUMN: "rupt_uterus"
==============================
N      968243
        29573
U        1907
Y         276
NaN         1

COLUMN: "unplanned_hyster"
==============================
N      968108
        29573
U        1907
Y         411
NaN         1

COLUMN: "admit_to_IC"
==============================
N      967017
        29573
U        1907
Y        1502
NaN         1

COLUMN: "attendant_at_birth"
==============================
1.0    659343
N      179893
3.0     70023
2.0     57282
        18980
4.0      6544
5.0      6343
U         597
Y         529
9.0       465

COLUMN: "mother_transferred"
==============================
N      964374
        29573
Y        5048
U        1004
NaN         1

COLUMN: "delivery_payment_source"
==============================
2      270740
1      244369
2.0    195311
1.0    169790
        29573
3       24284
3.0     16898
8       12536
8.0      7757
5        6694

COLUMN: "APGAR_score_5min"
==============================
9.0     826812
8.0     103648
10.0     25890
7.0      19151
6.0       7615
5.0       4171
99.0      4050
4.0       2500
1.0       2246
3.0       1725

COLUMN: "APGAR_score_10min"
==============================
88.0    393318
88      382569
8       178482
         18980
         10593
0         2470
99.0      1908
99        1815
9         1722
7.0        987

COLUMN: "plurality"
==============================
1.0    965301
2.0     33602
3.0      1032
4.0        55
5.0         9
NaN         1

COLUMN: "pluarlity_imputed"
==============================
       999952
1          47
NaN         1

COLUMN: "sex_of_infant"
==============================
M      511976
F      488023
NaN         1

COLUMN: "sex_of_infant_imputed"
==============================
       999977
1          22
NaN         1

COLUMN: "last_norm_menses_mo"
==============================
12.0    85722
10.0    84089
11.0    83608
1.0     79957
8.0     79576
9.0     79113
5.0     78191
7.0     77228
6.0     76992
3.0     76936

COLUMN: "last_norm_menses_yr"
==============================
2014.0    191356
2013.0    191171
2015.0    190946
2016.0    190129
2012.0    142821
2017.0     47792
9999.0     45719
2011.0        65
NaN            1

COLUMN: "obst_est_of_gestation_used"
==============================
        757415
39.0     74389
40.0     42892
1        42585
38.0     32723
37.0     16775
41.0     12547
36.0      7520
35.0      3853
34.0      2478

COLUMN: "combined_gestation_wk"
==============================
39.0    301604
40.0    195802
38.0    160670
37.0     88628
41.0     85531
36.0     41982
42.0     25513
35.0     23524
34.0     15065
43.0     12904

COLUMN: "obst_est_edit_wk"
==============================
39.0    298264
        188989
40.0    166803
38.0    129349
37.0     72600
41.0     51481
36.0     30315
35.0     15206
1        11010
34.0     10229

COLUMN: "birth_weight_gm"
==============================
3260.0    12181
3430.0    11717
3345.0    10482
3090.0    10429
3600.0    10044
3175.0    10029
3402.0     9669
3515.0     9397
3289.0     9203
3374.0     9123

COLUMN: "assist_vent_immed"
==============================
N      932612
Y       36005
        29573
U        1809
NaN         1

COLUMN: "assist_vent_after6"
==============================
N      956573
        29573
Y       12044
U        1809
NaN         1

COLUMN: "admit_NICU"
==============================
N      885933
Y       82684
        29573
U        1809
NaN         1

In [51]:
skewness(totSampDF,range(80,120),10)

COLUMN: "surfactant"
==============================
N      964314
        29573
Y        4303
U        1809
NaN         1

COLUMN: "antibiotics_for_newborn"
==============================
N      946901
        29573
Y       21716
U        1809
NaN         1

COLUMN: "seizures"
==============================
N      968299
        29573
U        1809
Y         318
NaN         1

COLUMN: "anencephaly"
==============================
N      968162
        29573
U        2159
Y         105
NaN         1

COLUMN: "meningo_spina_bif"
==============================
N      968140
        29573
U        2159
Y         127
NaN         1

COLUMN: "cyn_cong_heart_disease"
==============================
N      967622
        29573
U        2159
Y         645
NaN         1

COLUMN: "cong_diaph_hernia"
==============================
N      968141
        29573
U        2159
Y         126
NaN         1

COLUMN: "omphalocele"
==============================
N      968180
        29573
U        2159
Y          87
NaN         1

COLUMN: "gastroschisis"
==============================
N      968014
        29573
U        2159
Y         253
NaN         1

COLUMN: "limb_reduc_defect"
==============================
N      968139
        29573
U        2159
Y         128
NaN         1

COLUMN: "cleft_lip_or_palate"
==============================
N      967764
        29573
U        2159
Y         503
NaN         1

COLUMN: "cleft_palate_only"
==============================
N      968042
        29573
U        2159
Y         225
NaN         1

COLUMN: "down_syndr"
==============================
N      967759
        29573
U        2159
P         283
C         225
NaN         1

COLUMN: "suspect_chromo_disorder"
==============================
N      967853
        29573
U        2159
P         285
C         129
NaN         1

COLUMN: "hypospadias"
==============================
N      967669
        29573
U        2159
Y         598
NaN         1

COLUMN: "infant_transferred"
==============================
N      958610
        29573
Y       10939
U         877
NaN         1

COLUMN: "infant_living_at_report"
==============================
Y      965898
        29573
N        2900
U        1628
NaN         1

COLUMN: "infant_breastfed_at_discharge"
==============================
Y      671476
N      160262
U      138688
        29573
NaN         1

COLUMN: "mo_since_last_live_birth"
==============================
NaN      200000
888.0    151475
888      150512
999       15325
999.0     13970
          10593
22.0       5491
3.0        5409
24.0       5367
23.0       5257

COLUMN: "mo_since_last_other_birth"
==============================
NaN    600000
888    286885
999     39166
        10593
12       3323
11       3297
10       2734
13       2718
14       2181
15       1837

COLUMN: "mothers_height"
==============================
NaN     200000
64.0     59122
64       56352
63.0     51838
62.0     50122
63       49091
62       48408
65.0     47749
65       46372
66.0     44056

COLUMN: "mothers_bmi"
==============================
NaN     200000
99.9     13588
         10593
99.9     10583
26.6      7102
26.6      6845
28.3      6234
28.3      5799
23.0      5282
22.3      5163

COLUMN: "pre_preg_lbs"
==============================
NaN      200000
130.0     16663
130       16400
140.0     14795
140       14421
150.0     14415
150       14108
135.0     13259
120.0     13183
120       13121

COLUMN: "delivery_lbs"
==============================
NaN      200000
          10593
999        9176
160.0      8444
160        8283
180.0      8079
180        7732
170.0      7666
170        7399
150        7340

COLUMN: "no_risk_reported"
==============================
1.0    281270
1      278433
NaN    200000
0.0    118347
0      113523
         7309
9         537
9.0       383
1.0       149
0.0        48

COLUMN: "no_infection_reported"
==============================
1.0    388350
1      378011
NaN    200000
0.0     10596
        10593
0        9985
9        1213
9.0      1054
1.0       193
0.0         4

COLUMN: "combined_gestation_imputed"
==============================
       782506
NaN    200000
1       17494

COLUMN: "no_cong_anamolies_checked"
==============================
1.0    398045
1      386937
NaN    200000
        10593
0        1395
0.0      1376
9         877
9.0       579
1.0       197
9.0         1

COLUMN: "cigs_before"
==============================
NaN     600000
0.0     361692
20.0     10940
10.0      9661
5.0       3765
99.0      1920
3.0       1862
4.0       1423
2.0       1412
6.0       1182

COLUMN: "mothers_height_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "mothers_bmi_recode"
==============================
NaN    600000
2.0    170956
3.0    101815
4.0     56469
5.0     27423
6.0     19513
1.0     13241
9.0     10583

COLUMN: "pre_preg_lbs_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "delivery_lbs_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "weight_gain"
==============================
NaN     600000
30.0     18528
20.0     14211
99.0     14039
25.0     13549
35.0     12663
40.0     11855
0.0      10854
28.0     10685
27.0     10373

COLUMN: "weight_gain_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "pre_preg_diab_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "gest_diab_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "pre_preg_hypten_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "gest_hypten_reporting"
==============================
NaN    600000
1.0    399024
0.0       976

COLUMN: "hypten_ecl_reporting"
==============================
NaN    600000
1.0    384918
0.0     15082

### Sample dataframe
 Determine the mean and std of different sample sizes of the dataframe to see how much to downsample data

In [ ]:
%time sampler(nat15TotDF,[.5,.2,.1,.05])

In [ ]:
%time sampler(nat15TotDF,[.05])

In [ ]:
%time sampler(nat14TotDF,[.5,.2,.1])

 ## Read CSV files and Sample Data
 chose 200,000 rows as std and mean do not differ much then from 2,000,000 and 4,000,000 rows

In [6]:
read2CSV('../data/raw/nat2014.csv','try14')

In [ ]:
read2CSV('../data/raw/nat2014.csv','samp14')
read2CSV('../data/raw/nat2015.csv','samp15')
read2CSV('../data/raw/nat2016.csv','samp16')
read2CSV('../data/raw/nat2017.csv','samp17')
read2CSV('../data/raw/nat2018.csv','samp18')

 To avoid memory issues, reload kernal and reload csv files from samples to concat

In [54]:
samp14 = pd.read_csv('../data/raw/samp14.csv')
samp15 = pd.read_csv('../data/raw/samp15.csv')
samp16 = pd.read_csv('../data/raw/samp16.csv')
samp17 = pd.read_csv('../data/raw/samp17.csv')
samp18 = pd.read_csv('../data/raw/samp18.csv')

#### Every year sampled into 1 DF

In [72]:
totSampDF = pd.concat([samp14,samp15,samp16,samp17,samp18],sort=False) #sort=False to get non alphabatized
totSampDF = totSampDF.drop(totSampDF.columns[0], axis =1).reset_index()
totSampDF.to_csv('../data/raw/totSampDF18.csv')